.container {
  margin: auto;
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container > form {
  width: 100%;
}

.container > h1 {
  color: #00ff88;
}

.features {
  width: 100%;
  padding: 30px 35px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box;
}

.featurefield {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.featurefield > input,
.featurefield > select {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  box-sizing: border-box;
}

.featurefield > input[type="text"],
.featurefield > input[type="date"],
.featurefield > input[type="number"],
.featurefield > select {
  width: 100%;
  box-shadow: 0px 10px 40px #00000056;
}

.featurefield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.range-feature {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

.range-feature > input[type="range"] {
  width: 80%;
}

.range-feature > p {
  padding: 0 10px;
  color: #f0ffffde;
}

.predict-btn {
  width: 50%;
  padding: 16px 0;
  margin: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background-color: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.predict-btn:active {
  color: #f0ffffde;
}

.prediction-area {
  width: 100%;
  padding: 30px 35px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.prediction-enabled {
  background-color: #e0de4a;
  box-shadow: 0px 10px 40px -12px #7e7d3a;
  color: #2b134b;
}
